<div class="col-lg-3 col-md-6 portfolio-item {{ fields.field_category.content }}">
  <img src="{{ fields.field_portfolio_image.content }}" class="img-fluid" alt="">
  <div class="portfolio-info">
    <h4>{{ fields.title.content }}</h4>
    <p>{{ fields.field_category_1.content }}</p>
    <a href="{{ fields.field_portfolio_image.content }}" data-gall="portfolioGallery" class="venobox preview-link" title="{{ fields.title.content }}"><i class="bx bx-plus"></i></a>
    <a href="{{ fields.view_node.content }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
  </div>
</div>
