<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>{{ 'Some of our <strong>recent works</strong>'|t }}</h2>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
            {% for key, value in portfolio_category %}
            <li data-filter=".{{ key }}">{{ value }}</li>          
            {% endfor %}        
        </ul>
      </div>
    </div>
    <div class="row portfolio-container" data-aos="fade-up">
      {% for row in rows %}
        {{ row.content }}
      {% endfor %}
    </div>
  </div>
</section>
