{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      {% if item.text == 'Home' and item.url %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% elseif item.url %}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% else %}  
        <li class="active">
          {{ item.text }}
        </li>
      {% endif %}        
    {% endfor %}
    </ol>
  </nav>
{% endif %}
