{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {%
    set menu_classes = [
      'level-' ~ menu_name|clean_class,
      'nav topnav',
    ]
  %}
  {%
    set submenu_classes = [
      'dropdown-menu',
      'level1-' ~ menu_name|clean_class,
    ]
  %}
  {%
    set submenu_level2_classes = [
      'sub-menu-level1',
      'level2-' ~ menu_name|clean_class,
    ]
  %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul>
    {% elseif menu_level == 1  %}
      <ul>
    {% elseif menu_level == 2  %}
      <ul>    
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded and item.below ? 'expanded dropdown drop-down',
          item.in_active_trail ? 'active active-trail',
          loop.first ? 'first',
          loop.last ? 'last',
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% set link_title = item.title %}
        {% set link_attributes = item.link_attributes %}                
        {% if item.is_expanded and item.below %}
          <a href="{{ item.url }}" data-drupal-link-system-path="{{ item.url }}">{{ link_title }}<i class="icon-angle-down"></i></a>
        {% else %}
          {{ link(link_title, item.url, link_attributes.addClass(item.in_active_trail ? 'active-trail')) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
