{% if row.index == 0 %}
  {% set class = 'active' %}
{% else %}
  {% set class = '' %}
{% endif %}
<div class="carousel-item {{ class }}" style="background-image: url({{ fields.field_slider_image.content }});">
  <div class="carousel-container">
    <div class="carousel-content animate__animated animate__fadeInUp">
      <h2>{{ fields.title.content }}</h2>
      <p>{{ fields.body.content }}</p>
      <div class="text-center"><a href="{{ fields.field_slider_link.content }}" class="btn-get-started">{{ 'Read More'|t }}</a></div>
    </div>
  </div>
</div>
