/**
 * Hide <select> and submit-button
 */
#views-exposed-form-blogs-list select.form-select {
  display: none;
}
#views-exposed-form-blogs-list .form-submit {
  display: none;
}
#block-exposedformblogslist {
  text-align: left;
}

/**
 * Pure styling, should probably be put in your theme stylesheet
 * instead of in this module
 */
/*.pop-list {
  display: block;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}
.pop-list li {
  margin: 25px 5px 25px 0;
  float: none;
  display: inline-block;
  margin: 25px 5px 25px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.pop-list li a {
  background-color: #CCC;
  height: 40px;
  border-radius: 40px;
  padding: 10px 16px 9px;
  color: #FFF;
  line-height: 23px;
  text-decoration: none;
  border-bottom: none;
}
.pop-list li a.active {
  background-color: #0071b3;
}
.view-filter-articles .views-row{
  float: left;
  padding: 15px;
}*/
#block-exposedformblogslist .pop-list li a.active {
  color: #f03c02;
}
#block-exposedformblogslist .form-item-field-blog-categories-value label {
  display: none;
}
