<div class="member-img">
  <img src="{{ fields.field_profile_image.content }}" class="img-fluid" alt="">
  <div class="social">
    <a href="{{ fields.field_twitter_link.content }}"><i class="icofont-twitter"></i></a>
    <a href="{{ fields.field_facebook_link.content }}"><i class="icofont-facebook"></i></a>
    <a href="{{ fields.field_instagram_link.content }}"><i class="icofont-instagram"></i></a>
    <a href="{{ fields.field_linkedin_link.content }}"><i class="icofont-linkedin"></i></a>
  </div>
</div>
<div class="member-info">
  <h4>{{ fields.title.content }}</h4>
  <span>{{ fields.field_designation.content }}</span>
</div>
