{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
<h3 class="sidebar-title">Categories</h3>
<div class="sidebar-item categories">
  {{ form.field_blog_categories_value }}
  {{ form.actions }}
  {# Renders the rest of the form #}
  {{ form|without('field_blog_categories_value', 'actions') }}
</div><!-- End sidebar categories-->
