<article class="entry" data-aos="fade-up" >
  <div class="entry-img">
    <img src="{{ fields.field_blog_image.content }}" alt="" class="img-fluid">
  </div>
  <h2 class="entry-title">
    <a href="{{ fields.view_node.content }}">{{ fields.title.content }}</a>
  </h2>
  <div class="entry-meta">
    <ul>
      <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">{{ fields.name.content }}</a></li>
      <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ fields.created.content }}</time></a></li>
      <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="blog-single.html">{{ fields.comment_count.content }} {{ 'Comments'|t }}</a></li>
    </ul>
  </div>
  <div class="entry-content">
    <p>
      {{ fields.body.content }}
    </p>
    <div class="read-more">
      <a href="{{ fields.view_node.content }}">{{ 'Read More'|t }}</a>
    </div>
  </div>
</article>
