<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          {% if page.footer_first %}
            {% block footer_first %}
              {{ page.footer_first }}
            {% endblock %}
          {% endif %}
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          {% if page.footer_second %}
            {% block footer_second %}
              {{ page.footer_second }}
            {% endblock %}
          {% endif %}
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          {% if page.footer_third %}
            {% block footer_third %}
              {{ page.footer_third }}
            {% endblock %}
          {% endif %}
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          {% if page.footer_four %}
            {% block footer_four %}
              {{ page.footer_four }}
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    {% if page.footer %}
      {% block footer %}
        {{ page.footer|without('#theme') }}
      {% endblock %}
    {% endif %}
  </div>
</footer><!-- End Footer -->