<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="icofont-envelope"></i><a href="mailto:{{ header_short_email }}">{{ header_short_email }}</a>
      <i class="icofont-phone"></i> {{ header_office_contact }}
    </div>
    <div class="social-links">
      <a href="{{ twitter }}" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="{{ facebook }}" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="{{ instagram }}" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="{{ skype }}" class="skype"><i class="icofont-skype"></i></a>
      <a href="{{ linkedin }}" class="linkedin"><i class="icofont-linkedin"></i></i></a>
    </div>
  </div>
</section>
<!-- ======= Header ======= -->

<header id="header">
  <div class="container d-flex">
    <div class="logo mr-auto">
      {% if page.header %}
        {% block header %}
          {{ page.header }}
        {% endblock %}
      {% endif %}
    </div>
    {% if page.main_navigation %}
      {% block main_navigation %}
        {{ page.main_navigation }}
      {% endblock %}
    {% endif %}
  </div>
</header><!-- End Header -->
