<div class="post-item clearfix">
  <img src="{{ fields.field_blog_image.content }}" alt="">
  <h4><a href="{{ fields.view_node.content }}">{{ fields.title.content }}</a></h4>
  <time datetime="{{ fields.created.content }}">{{ fields.created.content }}</time>
</div>
