<div class="testimonial-item">
  <img src="{{ fields.field_testimonials_profile_image.content }}" class="testimonial-img" alt="">
  <h3>{{ fields.title.content }}</h3>
  <h4>{{ fields.field_testimonials_designation.content }}</h4>
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    {{ fields.body.content }}
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
</div>
