<div class="row">
  {% set delay = 0 %}
  {% for row in rows %}
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="{{ delay }}">
    {{ row.content }}
    </div>
    {% set delay = delay + 100 %}
  {% endfor %}
</div>
