<div class="row mt-5 justify-content-center" data-aos="fade-up">
  <div class="col-lg-10">
    
      <div class="form-row">
        <div class="col-md-6">
          {{ form.name }}
        </div>
        <div class="col-md-6">
          {{ form.mail }}
        </div>
      </div>
      <div class="form-group">
        {{ form.subject }}
      </div>
      <div class="form-group">
        {{ form.message }}
      </div>
      <div class="text-center">
        {{ form.form_build_id }}
        {{ form.form_id }}
        {{ form.form_token }}
        {{ form.actions }}
      </div>

  </div>

</div>