<div class="gavias-skins-panel gavias-skin-demo hidden-xs hidden-sm">
	<div class="control-panel"><i class="fa fa-cogs"></i></div>
	<div class="panel-skins-content">
		<div class="title">Color skins</div>
		<div class="text-center">
			<a class="item-color default" href="//{{ current_url }}gvas"></a>
			<a class="item-color blue" href="//{{ current_url }}gvas=blue"></a>
			<a class="item-color brown" href="//{{ current_url }}gvas=brown"></a>
            <a class="item-color saddle_brown" href="//{{ current_url }}gvas=saddle_brown"></a>
			<a class="item-color green" href="//{{ current_url }}gvas=green"></a>
            <a class="item-color dark_green" href="//{{ current_url }}gvas=dark_green"></a>
            <a class="item-color chocolate" href="//{{ current_url }}gvas=chocolate"></a>
			<a class="item-color lilac" href="//{{ current_url }}gvas=lilac"></a>
			<a class="item-color lime" href="//{{ current_url }}gvas=lime"></a>
            <a class="item-color lime_green" href="//{{ current_url }}gvas=lime_green"></a>
			<a class="item-color orange" href="//{{ current_url }}gvas=orange"></a>
			<a class="item-color pink" href="//{{ current_url }}gvas=pink"></a>
			<a class="item-color purple" href="//{{ current_url }}gvas=purple"></a>
			<a class="item-color dark_red" href="//{{ current_url }}gvas=dark_red"></a>			
			<a class="item-color violet_red" href="//{{ current_url }}gvas=violet_red"></a>
			<a class="item-color yellow" href="//{{ current_url }}gvas=yellow"></a>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

