{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

{% include '@flattern/includes/header.html.twig' %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        {% if node.type.entity.label %}
          <h2>{{ node.type.entity.label }}</h2>
        {% elseif page['#title'] %}
          <h2>{{ page['#title'] }}</h2>
        {% endif %}
        <ol>
          <li><a href="{{ url('<front>') }}">{{ 'Home'|t }}</a></li>
          <li>
            {% if node.type.entity.label %}
              {% if node.type.entity.label == 'inner_page' %}
                {{ node.label }}
              {% else %}
                {{ node.type.entity.label }}
              {% endif %}
            {% elseif page['#title'] %}
              {{ page['#title'] }}
            {% endif %}
          </li>
        </ol>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->
    <section id="{{ page_id }}" class="{{ page_class }}">
      <div class="container">
        <div class="row">
          {% if page.sidebar_first is empty and page.sidebar_second is not empty  %}
            <div class="col-lg-8 entries">
              {{ page.highlighted }}
              {{ page.content }}
            </div>
            <div class="col-lg-4">
              <div class="sidebar" data-aos="fade-left">
                {{ page.sidebar_second }}
              </div>
            </div>
          {% elseif page.sidebar_first is not empty and page.sidebar_second is empty  %}
            <div class="col-lg-4">
              <div class="sidebar" data-aos="fade-right">
                {{ page.sidebar_first }}
              </div>
            </div>
            <div class="col-lg-8 entries">
              {{ page.highlighted }}
              {{ page.content }}
            </div>
          {% elseif page.sidebar_first is not empty and page.sidebar_second is not empty  %}
            <div class="col-lg-3">
              <div class="sidebar" data-aos="fade-right">
                {{ page.sidebar_first }}
              </div>
            </div>
            <div class="col-lg-6 entries">
              {{ page.highlighted }}
              {{ page.content }}
            </div>
            <div class="col-lg-3">
              <div class="sidebar" data-aos="fade-left">
                {{ page.sidebar_second }}
              </div>
            </div>
          {% elseif page.sidebar_first is empty and page.sidebar_second is empty  %}
            <div class="col-lg-12 entries">
              {{ page.highlighted }}
              {{ page.content }}
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    {% if page.bottom_full_width is not empty  %}
      {{ page.bottom_full_width }}
    {% endif %}
</main><!-- End #main -->
{% include '@flattern/includes/footer.html.twig' %}
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
