{% include '@flattern/includes/header.html.twig' %}
<!-- ======= Hero Section ======= -->
{% if page.full_width is not empty  %}
    {{ page.full_width }}
{% endif %}
<main id="main">
  <section id="{{ page_id }}" class="{{ page_class }}">
    <div class="container">
      <div class="row">
        {% if page.sidebar_first is empty and page.sidebar_second is not empty  %}
          <div class="col-lg-8 entries">
            {{ page.highlighted }}
            {{ page.content }}
          </div>
          <div class="col-lg-4">
            <div class="sidebar" data-aos="fade-left">
              {{ page.sidebar_second }}
            </div>
          </div>
        {% elseif page.sidebar_first is not empty and page.sidebar_second is empty  %}
          <div class="col-lg-4">
            <div class="sidebar" data-aos="fade-right">
              {{ page.sidebar_first }}
            </div>
          </div>
          <div class="col-lg-8 entries">
            {{ page.highlighted }}
            {{ page.content }}
          </div>
        {% elseif page.sidebar_first is not empty and page.sidebar_second is not empty  %}
          <div class="col-lg-3">
            <div class="sidebar" data-aos="fade-right">
              {{ page.sidebar_first }}
            </div>
          </div>
          <div class="col-lg-6 entries">
            {{ page.highlighted }}
            {{ page.content }}
          </div>
          <div class="col-lg-3">
            <div class="sidebar" data-aos="fade-left">
              {{ page.sidebar_second }}
            </div>
          </div>
        {% elseif page.sidebar_first is empty and page.sidebar_second is empty  %}
          <div class="col-lg-12 entries">
            {{ page.highlighted }}
            {{ page.content }}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% if page.bottom_full_width is not empty  %}
    {{ page.bottom_full_width }}
  {% endif %}
</main><!-- End #main -->
{% include '@flattern/includes/footer.html.twig' %}
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
