<div class="row">
  {% set delay = 0 %}
  {% for row in rows %}
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
  <div class="member aos-init" data-aos="fade-up" data-aos-delay="{{ delay }}">
    {{ row.content }}
    {% set delay = delay + 100 %}
    </div>
</div>
  {% endfor %}
</div>
