{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" >
      <img src="{{ site_logo }}" alt="{{ site_name }}" class="img-fluid" />
    </a>
    {% if site_slogan %}
    <h1>{{ site_slogan }}</h1>
    {% endif %}
  {% endif %}
{% endblock %}
