{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
  <div class="mr-md-auto text-center text-md-left">
    <div class="copyright">
      © Copyright <strong><span>Flattern</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
  <div class="social-links text-center text-md-right pt-3 pt-md-0">
    <a href="{{ twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>
    <a href="{{ facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
    <a href="{{ instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
    <a href="{{ skype }}" class="skype"><i class="bx bxl-skype"></i></a>
    <a href="{{ linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
  </div>
</div>
