/* === color === */

a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, footer ul.link-list li a:hover, .post-meta span a:hover, footer a.text-link, 
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation  { 
	color:#32CD32;
}

/* === background color === */
.navbar .nav > .active.dropdown > a.dropdown-toggle,
.navbar .nav > .active.dropdown > a.dropdown-toggle:hover,
.navbar .nav > .active.dropdown > a.dropdown-toggle:focus,
.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover, 
.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover, 
.flex-control-nav li a.active {
  background-color: #32CD32;
}

/* === border color === */
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus {
	border:1px solid #32CD32;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #32CD32;
}

input:focus {
	border-color: #32CD32;
}

form#contactform1 .validation {
	color: #32CD32;
}

#sendmessage {
	color: #32CD32;
}

.pullquote-left {
	border-left:5px solid #32CD32;
}

.pullquote-right {
	border-right:5px solid #32CD32;
}


/* === Header === */
/* --- toggle top area --- */
 .hidden-top {	
	background:#32CD32;
}
#header-hidden-link a.toggle-link,
#header-hidden-link a.top-link {
	background:#32CD32;
}


/* carousel */
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-next-horizontal:focus
 {
	background:#32CD32;
}

ul.clients li:hover {
	border:4px solid #32CD32;
}

/* buttons */
.btn-dark:hover,.btn-dark:focus,.btn-dark:active  {
  background: #32CD32;
  border:1px solid #32CD32;
}

.btn-theme {
  border:1px solid #32CD32;
  background: #32CD32;
}

/* modal styled */
.modal.styled .modal-header {
  background-color: #32CD32;
}


/* blog */
.post-meta {
	border-top:4px solid #32CD32;
}

.post-meta .comments a:hover  {
	color:#32CD32;
}

.widget ul.tags li a:hover {
	background: #32CD32;
}

.recent-post .text h5 a:hover{
	color:#32CD32;
}

/* pricing box */

.pricing-box-alt.special .pricing-heading {
	background: #32CD32;
}


/* portfolio */
.item-thumbs .hover-wrap .overlay-img {
	background: #32CD32;	
}


/* pagination */
#pagination a:hover {
    background: #32CD32;
}

/* pricing box */
.pricing-box.special .pricing-offer{
	background: #32CD32;
}


/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #32CD32;
}
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #32CD32;
}

/* fancybox */
.fancybox-close:hover {
	background-color:#32CD32;
}
.fancybox-nav:hover span {
	background-color:#32CD32;
}

/* parallax c slider */
.da-slide .da-link:hover{
	background: #32CD32;
	border: 4px solid #32CD32;
}

.da-dots span{
	background: #32CD32;
}

/* flexslider */
#featured .flexslider .slide-caption {
	border-left:5px solid #32CD32;
}

/* Nivo slider */
.nivo-directionNav a:hover {
    background-color: #32CD32;
}
.nivo-caption, .caption {
	border-bottom: #32CD32 5px solid;
}
.gavias-skins-panel.gavias-skin-demo .control-panel {
  background: #32CD32;
}
/* footer */

