.permission-save-hidden #gavias_customize_save {
  display: none !important;
}

.gavias-skins-panel {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  right: -403px;
  position: fixed;
  height: auto;
  top: 0px;
  bottom: 0;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  width: 400px;
  z-index: 999;
}
.gavias-skins-panel .gavias-skins-panel-inner {
  bottom: 0;
  padding: 30px 10px 10px;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
}
.gavias-skins-panel.active {
  right: 0 !important;
}
.gavias-skins-panel #gavias_profile_customize_name option {
  color: #000;
}
.gavias-skins-panel .control-panel {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 150px;
  left: -40px;
  width: 40px;
  height: 40px;
  background: #F03C02;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.gavias-skins-panel .control-panel:hover {
  cursor: pointer;
}
.gavias-skins-panel .panel-skins-content {
  padding-bottom: 20px;
  overflow: hidden;
}
.gavias-skins-panel .panel-skins-content:last-child {
  padding-bottom: 0;
}
.gavias-skins-panel .panel-skins-content .title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #000;
  margin-bottom: 10px;
}
.gavias-skins-panel .panel-skins-content .item-color {
  width: 25px;
  height: 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 5px 6px 0 6px;
  border: 3px solid transparent;
}
.gavias-skins-panel .panel-skins-content .item-color:hover {
  cursor: pointer;
}
.gavias-skins-panel .panel-skins-content .item-color.default {
  background: #F03C02;
}
.gavias-skins-panel .panel-skins-content .item-color.blue {
  background: #5C9CC7;
}
.gavias-skins-panel .panel-skins-content .item-color.brown {
  background: #A52A2A;
}
.gavias-skins-panel .panel-skins-content .item-color.saddle_brown {
  background: #8B4513;
}
.gavias-skins-panel .panel-skins-content .item-color.green {
  background: #008000;
}
.gavias-skins-panel .panel-skins-content .item-color.chocolate {
  background: #D2691E;
}
.gavias-skins-panel .panel-skins-content .item-color.dark_green {
  background: #006400;
}
.gavias-skins-panel .panel-skins-content .item-color.lilac {
  background: #8F6684;
}
.gavias-skins-panel .panel-skins-content .item-color.lime_green {
  background: #32CD32;
}
.gavias-skins-panel .panel-skins-content .item-color.lime {
  background: #00FF00;
}
.gavias-skins-panel .panel-skins-content .item-color.orange {
  background: #FFA500;
}
.gavias-skins-panel .panel-skins-content .item-color.pink {
  background: #FF439E;
}
.gavias-skins-panel .panel-skins-content .item-color.purple {
  background: #800080;
}
.gavias-skins-panel .panel-skins-content .item-color.dark_red {
  background: #6D0C1F;
}
.gavias-skins-panel .panel-skins-content .item-color.violet_red {
  background: #C71585;
}
.gavias-skins-panel .panel-skins-content .item-color.yellow {
  background: #ecc311;
}
.gavias-skins-panel .panel-skins-content .item-color.active {
  border-color: #000;
}
.gavias-skins-panel .panel-skins-content .layout {
  width: 80px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
.gavias-skins-panel .panel-skins-content .layout:hover {
  cursor: pointer;
}
.gavias-skins-panel .panel-skins-content .layout.active {
  background-color: #008AFA;
  color: #fff;
}
.gavias-skins-panel .panel-skins-content .layout:last-child {
  margin-right: 0;
}
.gavias-skins-panel.gavias-skin-demo {
  top: 200px;
  bottom: auto !important;
  padding: 20px !important;
  width: 260px !important;
  right: -263px !important;
}
.gavias-skins-panel.gavias-skin-demo .control-panel {
  top: 75px !important;
}
.gavias-skins-panel.gavias-skin-demo.active {
  right: 0 !important;
}

#customize-gavias-preivew .panel {
  padding: 0 !important;
}
#customize-gavias-preivew .panel .panel-heading .panel-title > a {
  padding: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
#customize-gavias-preivew .panel .panel-heading .panel-title > a:after {
  display: none !important;
}
#customize-gavias-preivew .panel .panel-body {
  padding: 15px !important;
}
#customize-gavias-preivew .form-group {
  position: relative;
  float: left;
  width: 100%;
}
#customize-gavias-preivew .form-group label {
  width: 150px;
  float: left;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #000;
}
#customize-gavias-preivew .form-group input {
  width: calc(100% - 150px);
  float: left;
}
#customize-gavias-preivew .form-group select {
  width: 100%;
}
#customize-gavias-preivew .form-group .colorselector {
  width: calc(100% - 150px);
  position: relative;
}
#customize-gavias-preivew .form-group .colorselector input {
  width: 100% !important;
}
#customize-gavias-preivew .form-group .colorselector .input-group-addon {
  border: 1px solid #222222;
}
#customize-gavias-preivew .form-group .colorselector .input-group-addon i {
  width: 30px;
  height: 20px;
}
#customize-gavias-preivew .form-group .colorselector .remove {
  width: 34px;
  height: 34px;
  color: #000;
  position: absolute;
  top: 3px;
  right: 25px;
  line-height: 34px;
  text-align: center;
  z-index: 99;
}
#customize-gavias-preivew .form-group .colorselector .remove:hover {
  cursor: pointer;
}

.gavias_customize_form .form-group.action {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.gavias_customize_form .form-group.action input {
  width: 28%;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 5px 10px !important;
}
.gavias_customize_form .form-group.action input#gavias_customize_save {
  background: #5cb85c;
}
.gavias_customize_form .form-group.action input#gavias_customize_preview {
  background: #5bc0de;
}
.gavias_customize_form .form-group.action input#gavias_customize_reset {
  background: #f0ad4e;
}
